body
{

	background-color: #008B8B;
	font-family: Rockwell,Century Gothic,Trebuchet MS;
	text-align: center;
	align-items: center;
	font-size: 0.8em;

}
button:hover
{
	color:black;
	background-color: gray;
}
button
{
	background-color: orange;
	width: 150px;
	height: 50px;
	border:5px solid black;
	border-color: black;
	border-radius: 20px;
	color: black;
	text-decoration: none;
	outline: none;
	margin-top: 50px;
	font-family: Rockwell,Century Gothic,Trebuchet MS;
}
img
{
	width: 500;
	height: 281;
}